.about {
    padding: 125px 0 120px;

    @include respond-to(tablet) {
        padding: 90px 0;
    }

    @include respond-to(phone) {
        padding: 40px 0;
    }

    &__body {
        padding: 73px 0 100px 126px;
        box-sizing: border-box;

        @include respond-to(tablet) {
            padding: 40px 0 50px 100px;
        }

        @include respond-to(phone) {
            padding: 20px 0;
        }
    }

    &__text {
        @include font-dark;
        font-size: rem(20);
        font-weight: 400;
        margin: 0 0 25px;
        line-height: 1.25;

        @include respond-to(phone) {
            margin: 0 0 50px;
        }

        &:last-of-type {
            margin-bottom: 90px;

            @include respond-to(phone) {
                margin-bottom: 15px;
            }
        }
    }
}