.section-preview {
    text-align: center;

    &--about {
        position: relative;
        background-color: $main-color;
        padding: 75px 0 0;

        @include respond-to(phone) {
            padding: 30px 0 0;
        }

        &:before {
            @include overlay('/assets/img/bg-about.jpg');
            opacity: .5;
        }
    }

    &--services {
        position: relative;
        background-color: $main-color;

        &:before {
            @include overlay('/assets/img/bg-services.jpg');
            opacity: .5;
        }

        padding: 115px 30px 0;

        @include respond-to(phone) {
            order: -1;
            padding: 30px 30px;
        }
    }

    &__text {
        @include font-light;
        font-size: rem(18);
        font-style: italic;
        margin: 0;
    }

    &__img {
        position: relative;
    }

    span {
        @include font-light;
        font-weight: 700;
    }
}

.section-heading {
    @include font-heading-light;
    font-size: rem(36);
    font-weight: 400;
    text-transform: uppercase;
    position: relative;

    &--services {
        margin: 22px 0 105px;

        @include respond-to(phone) {
            margin-bottom: 30px;
        }
    }

    &--works {
        margin: 22px 0 58px;
    }

    &--dark {
        color: $mainFontColor;
    }
}

.btn {
    width: 195px;
    display: block;
    box-sizing: border-box;
    padding: 13px 15px 12px 15px;
    text-decoration: none;
    text-align: center;
    @include font-dark;
    font-style: italic;
    margin: 0 auto;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;

    &--about {
        color: #7d7a7c;
        border: 1px solid #7d7a7c;

        &:hover {
            border: 1px solid $main-color;
            background-color: $main-bg-color;
            color: $altFontColor;
        }
    }

    &--works {
        color: $altFontColor;
        border: 1px solid #ffffff;

        &:hover {
            background-color: $alt-bg-color;
            color: $mainFontColor;
        }
    }
}

.socials {
    @include flex-centered;

    &__link {
        text-decoration: none;
        transition: transform 1s ease-in-out;

        &:not(:last-of-type) {
            margin-right: 25px;

            @include respond-to(phone) {
                margin-right: 10px;
            }
        }

        &:hover {
            transform: rotate(360deg);
        }

        img {
            width: 100%;
            height: auto;
            display: block;
        }
    }

    &--team {
        box-sizing: border-box;
        padding: 20px 0;
        background-color: $main-bg-color;
    }
}

.back-to-top {
    @include flex-centered;
    position: absolute;
    bottom: 75px;
    right: 130px;
    @include size(85px);
    box-sizing: border-box;
    background-color: rgba($color: $main-bg-color, $alpha: .5);
    z-index: 100;
    cursor: pointer;
    transition: background-color .3s ease-in-out;

    img {
        width: calc(35/85 * 100%);
        height: auto;
    }

    &:hover {
        background-color: rgba($color: $main-bg-color, $alpha: 1);
    }

    @include respond-to(phone) {
        @include size(50px);
        bottom: 65px;
        right: 15px;
    }
}

section:focus {
    outline: none;
}