.contact {
    text-align: center;
    padding: 50px 0;
    background-color: $main-bg-color;
    position: relative;
    overflow: hidden;

    @include respond-to(phone) {
        padding: 30px 0;
    }

    &__address,
    &__phone {
        display: flex;
        position: absolute;
        right: -260px;
        transition: right 1s ease-in-out;
        z-index: 10;

        &:hover {
            right: 0;
        }
    }

    &__phone {
        top: 308px;
    }
    
    &__info {
        width: 260px;
        background-color: rgba($color: $alt-bg-color, $alpha: .5);
        padding: 12px;
        box-sizing: border-box;
        @include flex-centered;
        flex-direction: column;
    }

    &__street,
    &__city,
    &__country,
    &__number {
        @include font-dark;
        line-height: 1.2;
    }

    &__icon {
        background-color: $main-bg-color;
        width: 90px;
        height: 90px;
        padding: 25px;
        box-sizing: border-box;
    }

    .form {
        width: calc(920/1170 * 100%);
        margin: 0 auto;
        padding: 220px 0 30px;
        box-sizing: border-box;
        font-size: 0;
        position: relative;

        @include respond-to(phone) {
            width: 100%;
        }

        &>*:not(.form__errors-list):not(.form__submit) {
            border: none;
            background-color: $form-bg-color;
            padding: 20px 30px;
            box-sizing: border-box;
            @include font-light;
            font-size: rem(18);
            border-radius: $border-radius;
        }

        &__name,
        &__email {
            width: calc(50% - 15px);
            margin-bottom: 30px;

            @include respond-to(phone) {
                margin-bottom: 20px;
                width: 100%;
            }
        }

        &__name {
            margin-right: 30px;
        }

        &__textarea {
            width: 100%;
            height: 200px;
            margin-bottom: 55px;

            @include respond-to(phone) {
                margin-bottom: 30px;
                height: 150px;
            }
        }

        &__submit {
            display: block;
            margin: 0 auto;
            width: 290px;
            background-color: $main-bg-color;
            @include font-heading-light;
            font-weight: 700;
            font-size: rem(18);
            text-transform: uppercase;
            letter-spacing: 0.3px;
            padding: 25px;
            box-sizing: border-box;
            border: none;
            border-bottom: 4px solid rgba(0, 0, 0, .15);
            border-radius: $border-radius;
            appearance: none;
            cursor: pointer;
            transition: transform .2s, background-color .2s;

            &:hover {
                transform: translateY(4px);
                background-color: darken($main-bg-color, 2%);
            }
        }

        &>*::placeholder {
            @include font-light;
            font-style: italic;
            font-weight: 300;
        }

        &__errors-list {
            @include list-reset;
            text-align: left;
            position: absolute;
            top: 75px;
        }

        &__errors {
            font-size: rem(18);
            text-decoration: none;
            color: red;
        }
    }

    .map-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        // max-width: 1600px;
        height: 900px;
        max-height: 900px;
        opacity: .5;
        margin: 0 auto;
    }
}