.contact {
    text-align: center;
    padding: 50px 0;
    background-color: $main-bg-color;
    position: relative;
    overflow: hidden;

    @include respond-to(phone) {
        padding: 30px 0;
    }

    &__address,
    &__phone {
        display: flex;
        position: absolute;
        right: -260px;
        transition: right 1s ease-in-out;
        z-index: 10;

        @include respond-to(phone) {
            right: -180px;
        }

        &:hover {
            right: 0;
        }
    }

    &__phone {
        top: 309px;

        @include respond-to(phone) {
            top: 260px;
        }
    }

    &__info {
        width: 260px;
        background-color: rgba($color: $alt-bg-color, $alpha: .5);
        padding: 12px;
        box-sizing: border-box;
        @include flex-centered;
        flex-direction: column;

        @include respond-to(phone) {
            width: 180px;
        }
    }

    &__street,
    &__city,
    &__country,
    &__number {
        @include font-dark;
        line-height: 1.2;
    }

    &__icon {
        @include flex-centered;
        @include size(90px);
        background-color: $main-bg-color;

        @include respond-to(phone) {
            @include size(75px);
        }
    }

    .map-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        max-height: 900px;
        opacity: .5;
        margin: 0 auto;
    }
}