.footer {
    box-sizing: border-box;
    padding: 50px 30px 75px;
    background-color: $main-bg-color;

    .copyright {
        @include font-light;
        font-weight: normal;
    }

    @include respond-to(phone) {
        padding: 30px 0px;

        .copyright {
            margin-bottom: 30px;
        }
    }
}