.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 35px 0;
    z-index: 100;
    transition: padding .5s ease-in-out, background-color .5s ease-in-out;
    background-color: $main-color;

    @include respond-to(phone) {
        padding: 10px 0;
    }

    &.sticky {
        padding: 5px 0;
        background-color: $main-color;
    }

    &--transparent {
        background-color: transparent;

        @include respond-to(phone) {
            background-color: $main-color;
        }
    }

    .menu-icon {
        display: none;
        width: 40px;

        @include respond-to(phone) {
            display: block;
        }
    }
}

.logo {
    &__img {
        @include respond-to(phone) {
            height: 60px;
        }
    }
}

.nav {
    @include flex-between;
    @include flex-wrapped;

    &__list {
        @include list-reset();
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        transition: .5s ease-in-out;

        @include respond-to(phone) {
            max-height: 0;

            &.showing {
                max-height: 300px;
                display: flex;
                flex-wrap: wrap;
            }
        }
    }

    &__item {
        @include respond-to(phone) {
            width: 100%;
            text-align: center;
        }
    }

    &__link {
        display: inline-block;
        @include font-heading-light;
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        padding: 20px 15px;
        width: 100%;
        box-sizing: border-box;
        position: relative;

        &::after {
            position: absolute;
            content: '';
            top: 50%;
            left: 0;
            width: 0%;
            height: 3px;
            transform: translate(0, -50%);
            background-color: #ffffff;
            transition: width .6s ease-in-out;
        }
        &:hover::after {
            width: 100%;
        }
        @include respond-to(phone) {
            &:hover::after {
                width: 0%;
            }
        }
    }
}