.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 35px 0;
    z-index: 10;
    transition: padding .5s ease-in-out, background-color .5s ease-in-out;
    // transition-delay: .1s;
    background-color: $main-color;

    &.sticky{
        padding: 10px 0; 
        background-color: $main-color;  
    }

    &--transparent{
        background-color: transparent;
    }
}

.logo {}

.nav {
    &__list {
        @include list-reset();
        display: flex;
    }

    &__item {}

    &__link {
        font-family: $mainFont;
        color: $altFontColor;
        font-weight: 700;
        text-decoration: none;
        padding: 20px 15px;
    }
}