.hero {
    position: relative;
    padding: 400px 0 500px;
    @include section-bg('/assets/img/bg-hero.jpg');

    @include respond-to(tablet) {
        padding: 300px 0 350px;
    }
    
    @include respond-to(phone) {
        padding: 175px 0 225px;
    }

    &__body {
        position: relative;
        text-align: center;
    }

    .heading {
        @include font-heading-light;
        font-size: rem(72);
        text-transform: uppercase;
        color: $altFontColor;
        margin: 0;
    }

    .subheading {
        max-width: 730px;
        margin: 0 auto;
        @include font-light;
        font-size: rem(30);
        font-weight: normal;
        font-style: italic;
    }
}