.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;

  &--about {
    padding: 0;
    display: grid;
    grid-template-columns: calc(380/1170 * 100%) auto;

    @include respond-to(phone) {
      grid-template-columns: 1fr;
    }
  }

  &--services {
    padding: 0;
    display: grid;
    grid-template-columns: calc(760/1170 * 100%) calc(410/1170 * 100%);

    @include respond-to(phone) {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
    }
  }
  
  &--footer {
    @include flex-between;
    padding: 0 30px;
    box-sizing: border-box;

    @include respond-to(phone) {
      flex-direction: column;
    }
  }
}

@media (min-width: 600px) {
  .container {
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 990px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 667px) and (orientation : landscape) {
  .container {
    max-width: 650px;
  }
}

@media (max-width: 736px) and (orientation : landscape) {
  .container {
    max-width: 720px;
  }
}