@function rem($pixels, $context: $mainFontSize) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1rem;
}

@mixin size($width,$height: $width) {
  width: $width;
  height: $height;
}

$largePhone: 640px;
$tabletPortrait: 768px;
$largePhoneLandscape: 812px;
$tabletLandscape: 1024px;
$desktop: 1024px;

@mixin respond-to($media) {

	@if $media == phone  {
		@media (min-device-width: 320px) and (max-device-width: $largePhone) { @content; }
	}

	@else if $media == tablet {
		@media (min-device-width: $tabletPortrait) and (max-device-width: $tabletLandscape) { @content; }
	}

	@else if $media == smallScreen {
		@media (max-device-width: $tabletPortrait) { @content; }
	}

	@else if $media == largePhone {
		@media (min-device-width: 320px) and (max-device-width: $largePhone) { @content; }
	}

	@else if $media == largePhoneLandscape {
		@media (max-device-width: $largePhoneLandscape) and (orientation : landscape) { @content; }
	}

	@else if $media == desktop {
		@media (min-device-width: $desktop) { @content; }
	}

	@else if $media == ipadpro {
		@media only screen
		and (min-device-width: $tabletPortrait)
		and (max-device-width: $tabletLandscape)
		and (-webkit-min-device-pixel-ratio: 1.5) {
			@content;
		}
	}
}

@mixin center() {
	//-webkit-font-smoothing: antialiased;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

@mixin flex-wrapped() {
	display: flex;
	flex-wrap: wrap;
}

@mixin flex-between() {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@mixin flex-centered() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin list-reset {
	list-style: none;
	padding: 0;
	margin: 0;
}

@mixin section-bg($url) {
	background: url($url);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

@mixin overlay($url) {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url($url);
}

@mixin font-heading-light {
	font-family: $mainFont;
	color: $altFontColor;
	font-weight: 700;
}

@mixin font-heading-dark {
	font-family: $mainFont;
	color: $mainFontColor;
	font-weight: 700;
}

@mixin font-dark {
	font-family: $altFont;
	color: $mainFontColor;
}

@mixin font-light {
	font-family: $altFont;
	color: $altFontColor;
}