// Font
$mainFont       : 'ProximaNova', sans-serif;
$mainFont       : 'PT Sans', sans-serif;
$mainFontColor  : #665f60;
$mainFontSize   : 18px;
$altFontColor   : #fefdfd;

// Main color
$main-color     : #9f9acf;
$alt-color      : #ebebeb;
$main-bg-color  : $main-color;

//Buttons
$btn-bg         : $main-color;
$btn-bg-hover   : #0573AE;
$btn-color      : #fff;
$btn-border     :#8783b0;

$placeholder    :#fefefe;
$input-bg       : $alt-color;

//Border Radius
$border-radius  : 3px;
