@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/fonts';
@import 'utils/normalize';

@import 'modules/layout';
@import 'modules/components';
@import 'modules/header';
@import 'modules/hero';
@import 'modules/about';
@import 'modules/services';
@import 'modules/works';
@import 'modules/team';
@import 'modules/contact';
@import 'modules/footer';

html {
    height: 100%;
    font-size: $mainFontSize;
    font-family: $mainFont;
    color: $mainFontColor;
    background-color: $alt-color;
    
    @media screen and (max-width: $desktop) {
        font-size: 16px;
    }

    @media screen and (max-width: $tabletPortrait) {
        font-size: 15px;
    }

    @media screen and (max-width: $largePhone) {
        font-size: 14px;
    }
}
